/* 
light - #DFDCE3
yellow - #f7b733
aqua - #4abdac
orange - #FF8040 or #fc4a1a
*/

body{
  margin:0px;
  background-colour: #DFDCE3;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  background: #4abdac;  
}
.left-side {
  display: flex;
  font-family: monospace; 
}
.nav-wrapper > .left-side > div {
  margin-right:20px;
  font-size:0.9em;
  display: flex;
  font-family: monospace; 
   
}
.nav-link-wrapper a {
  color: #DFDCE3;
  text-decoration: none;
  font-weight: bold;
  font-size:25px;
  font-family: 'Segoe UI', sans-serif 
}
.brand {
  color: #DFDCE3;
  text-decoration:none;
  font-weight: lighter;
  font-size:25px;
  font-family: gadugi; 
}
.banner{
  width: 100%;
  display: block;
}
h1{
  color:#f7b733;
  text-align:center;
  font-size:28px;
  font-weight: lighter;
  font-family: lucida console; 
}
p1{
  /*border: 5px dotted #f7b733;*/
  color:black;
  text-align:center;
  font-size:15px;
  font-family: ui-rounded;
}
.social-wrapper{
  margin:0px;
  padding: 35px;
  background: #4abdac; 
}

.social-media-links { 
  display: flex;
  background: #4abdac; 
  justify-content: space-evenly

}
.social-media-links a{ 
  display: flex;
  color: #DFDCE3;
  text-decoration:none;
  font-weight: lighter;
  font-size:15px;
  padding: 35px;
  font-family: monospace;
} 

} 




 


